@using Presentation.LightMediaTechTest.Components.Button

<div class="event">
    <div class="event-container">
        <div class="event-column">
            <img class="event-image" src="@Event.EventPicture" alt="@($"{Event.EventName} Image")" />

            @if (DisplayCreatedDate)
            {
                <p class="event-created-date">@($"Created on: {Event.PublishedDateTime}")</p>
            }
        </div>

        <div class="event-column">
            <p>@($"Event name: {Event.EventName}")</p>
            <p>@($"Event summary: {Event.EventShortDescription}")</p>
            <p>@($"Event type: {Event.EventCatagory?.CatagoryName}")</p>
            <p>@($"Event location: {Event.EventLocation}")</p>
            <p>@($"Event date: {Event.EventDateTime?.ToShortDateString()}")</p>

            @if (DisplayBookRedirect)
            {
                if (CurrentUser is not null)
                {
                    <Button Label="Book Now!" OnClick="() => BookingClicked(Event.Id)" />
                }
                else
                {
                    <Button Label="Login to Book" Disabled />
                }
            }

            @*For Admins to manage events*@
            @if ((CurrentUser?.UserRoles?.CanAmendEvents ?? false) || (CurrentUser?.UserRoles?.CanManageUsers ?? false))
            {
                <Button Label="Manage Event" OnClick="@(() => NavigationManager.NavigateTo($"eventmanager/{Event.Id}"))" />
            }
        </div>
    </div>
</div>